@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    padding: 0;
    margin: 0;
}
.anime{
    background-color: black;
    height: 0.5vh;
    width: 0vw;
    animation: ani 2s ease-in-out  1 ;
}
.logo img{
    height: 60px;
    width: 100px;
}
@keyframes ani {
    from{
        width: 0vw;
    }
    to{
        width: 100vw;
    }
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    background-color:#2874f0;
}
nav ul{
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    padding: 10px;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
}
nav ul li a:hover{
    color:whitesmoke;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.copy{
    height: 10vh;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height: 10vh;
    background-color: #2874f0;
    color: white;
}
main{
    display: block;
    height: 17vh;
    text-align: center;
}
main p{
    margin: 30px;
}
main p input{
    height: 23px;
    width: 230px;
}